.title {
  display: flex;
  justify-content: center;
}
.title h1 {
  padding: 0;
  margin: 0;
  font-family: 'Deltha';
  font-size: 24px;
  color: var(--backClr);
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  animation: translateY 0.5s ease-in-out;
}

.title h1::before {
  content: attr(data-text);
  position: absolute;
  left:0;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: animate 1.5s linear forwards;
  z-index: 2;
}

.title span {
  font-size: 24px;
  color: var(--icon);
  text-align: center;
  margin-bottom: 30px;
  position: absolute;
  animation: translateYAndGrow 1s linear forwards;
}

.title p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@keyframes translateYAndGrow {
  0% {
    transform: translateY(-200vh);
    font-size: 24px;
  }
  70% {
    transform: translateY(16px);
    font-size: 24px;
  }
  100% {
    transform: translateY(0);
    font-size: 30px;
  }
}

@keyframes translateY {
  0% {
    transform: translateY(-200vh);
  }
  70% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    width: 0;
  }
  70% {
    width: 100%;
    text-shadow: 0 0 5px var(--clr);
  }
  100% {
    width: 100%;
    text-shadow: 0 0 12px var(--clr);
    transform: translateY(0);
    border: 0;
  }
}

