.projectCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
}

.projectCard:hover .inner {
  transform: rotateY(180deg);
}

.image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  overflow: hidden;
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

.back {  
  color: white;
  transform: rotateY(180deg);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto;
}


.techStack {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.actions {
  font-size: 20px;
  margin-top: 25px;
}