:root {
  --clr-txt-light: #1A202C;
  --clr-txt-dark: #f5f5f5;
  --clr-bg-light: #f5f5f5;
  --clr-bg-dark: #1A202C;
  --shadow-light: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0px 0px 20px #000;
  --clr-primary-blue: #4299e1;
  --clr-primary-blue-hover: #4b90cf;
  --clr-primary-purple: #9F7AEA;
  --clr-primary-purple-hover: #9268e7;
  --clr-primary-teal: #38B2AC;
  --clr-primary-teal-hover: #2f9e9e;
  --clr-primary-orange: #DD6B20;
  --clr-primary-orange-hover: #b64b12;
}

@property --clr {
  syntax: '<color>';
}

@property --bg {
  syntax: '<color>';
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 250;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Thin.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 250;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-ThinItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 275;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraLight.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 275;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraLightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Light.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 600;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-ExtraBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-Black.woff') format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 900;
  src: local('Montserrat'), url('https://fonts.cdnfonts.com/s/14883/Montserrat-BlackItalic.woff') format('woff');
}

@font-face {
  font-family: 'Deltha';
  font-style: normal;
  font-weight: 400;
  src: local('Deltha'), url('https://fonts.cdnfonts.com/s/84029/DelthaRegular-GOgrm.woff') format('woff');
}


html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

